/************ Header *************/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;

    margin-top: 32px;

}

#busca{
    width: 752px;
    height: 56px;

    background-color: var(--box-color);

    color: #FFf;
    font-size: 16px;

    border: none;
    border-radius: 8px;
    padding-left: 14px;
}

#busca::placeholder{
    color:#FFF;

}


.imageUser{
    width: 32px;
    height: 32px;
    border-radius: 50%;

}

.logoSite{
    display: flex;
    align-items: center;

    color: #FFF;
    font-size: 30px;

    margin-left: 32px;
}

.logoSite > span:nth-child(1){
    margin-right: 7px;
}

.logoSite > span:nth-child(2){
    color: var(--background-color);
    background-color: #FFF;
}